:root {
	--default_font: 24px;
	--light_red: #FFDDDD;
	--light_blue: #DDDDFF;
	--light_green: #DDFFDD;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
	font-family: 'Arial', sans-serif;
	font-size: var(--default_font);
}

.container {
	display: grid;
	min-height: 100vh;
	height: 100%;
	grid-template-rows: 20vh 5vh 55vh 20vh;
	grid-template-columns: 20vw 55vw 25vw;
}

.common-item {
	display: flex;
	align-items: center;
	border: 1px solid;
}

.item1 {
	grid-area: 1 / 1 / 4 / 2;
	background-color: var(--light_red);
	justify-content: center;
	flex-direction: column;
}

.item2 {
	grid-area: 1 / 2 / 2 / 5;
	background-color: var(--light_blue);
	justify-content: space-around;
	padding-left: 250px;
}

.item2 p {
	background-color: white;
	display: flex;
	width: 300px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border: 1px solid;
}

.item3 {
	grid-area: 2 / 2 / 3 / 3;
	background-color: var(--light_green);
	justify-content: flex-end;
	padding-right: 10px;
}

.item4 {
	grid-area: 2 / 3 / 4 / -1;
	background-color: var(--light_green);
	justify-content: center;
	width: 100%;
}

.item5 {
	grid-area: 3 / 2 / 4 / 3;
	justify-content: flex-start;
	padding-left: 10px;
	display: flex;
	justify-content: space-around;
}

.item6 {
	grid-area: 4 / 1 / 5 / 5;
	background-color: var(--light_blue);
	justify-content: center;
	padding-right: 10px;
}

.item6 p {
	background-color: white;
	display: flex;
	top: .5fr;
	width: 300px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	margin-right: 10%;
}

@media (max-width: 768px) {
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    
    :root {
        --default_font: 18px;
    }
    
    .item1, .item2, .item3, .item4, .item5, .item6 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex: none;
        height: auto;
    }
    
    .item1 {
    	min-height: 15vh;
    }

    .item2 { 
        padding-left: 0;
        min-height: 15vh;
    }
    .item2 p {
        width: 90%; 
        max-width: 300px;
    }
    .item3 { 
    	min-height: 15vh;
    }
    .item5 { 
        flex-direction: column;
        min-height: 40vh;
    }
    .item6 { 
        min-height: 15vh;
        flex-direction: column;
    }
    .item6 p {
        width: 90%;
        max-width: 300px;
        margin: 10px 0;
    }
}
